# Raod to 1 Million
1. https://payroll.my/
2. Things to note: EPF, SOCSO, EIS and Tax (Income Tax)

Resources:
https://www.hasil.gov.my/en/individual/individual-life-cycle/how-to-declare-income/tax-rate/
https://www.perkeso.gov.my/en/rate-of-contribution.html

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings

#settings
warnings.filterwarnings('ignore')

# fig size
plt.rcParams['figure.figsize'] = (12, 8)

In [2]:
# input data
salary = 2990
bonus = 1000

# read data
df = pd.ExcelFile('data/kwsp_schedule.xlsx')
df2 = df.parse('citizen')
epf_citizen = pd.read_excel(df, 'citizen')
epf_foreign = pd.read_excel(df, 'foreigner')

In [23]:
# matching
a = map(lambda x: x <= salary, epf_citizen['upper'])

# get index
idx = list(a).index(False)
print('Index: ', idx)

Index:  150

In [24]:
epf_citizen[148:152]

       lower  upper  employer  employee  total
148  2940.01   2960       385       326    711
149  2960.01   2980       388       328    716
150  2980.01   3000       390       330    720
151  3000.01   3020       393       333    726

# Goal Seek

In [29]:
# 1 month contribution
contribution = epf_citizen['total'][idx]
print('Contribution: ', contribution)

# compound interest
compound_rate = 0.065

goal = 10**6
r = 1 + compound_rate

# years to reach goal
years = 1/np.log(r)*np.log((goal*(r-1))/(12*contribution*r) + 1)
print('Years: ', years)

Contribution:  720
Years:  33.14672470739156

- Make extra contribution